<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Acerca de...</title>
  </head>
  <body>
    <header><h1>Lorem ipsum</h1></header>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Facilisi morbi tempus iaculis urna. At ultrices mi tempus imperdiet. Turpis in eu mi bibendum neque egestas. Neque volutpat ac tincidunt vitae semper quis lectus. Eget nulla facilisi etiam dignissim diam. Non odio euismod lacinia at quis risus sed vulputate. Velit dignissim sodales ut eu sem. Porttitor leo a diam sollicitudin tempor id. Donec enim diam vulputate ut pharetra sit. Interdum velit euismod in pellentesque. Sed turpis tincidunt id aliquet risus feugiat in ante metus. Tempor id eu nisl nunc mi ipsum. Malesuada pellentesque elit eget gravida. Eget nunc scelerisque viverra mauris in. Porttitor leo a diam sollicitudin tempor id eu.</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp Sit amet luctus venenatis lectus magna fringilla. Eget felis eget nunc lobortis mattis. Accumsan tortor posuere ac ut. Orci eu lobortis elementum nibh tellus molestie. Et netus et malesuada fames. Gravida quis blandit turpis cursus in hac habitasse platea dictumst. Ridiculus mus mauris vitae ultricies. Proin sed libero enim sed faucibus. Et malesuada fames ac turpis egestas integer. Congue quisque egestas diam in arcu cursus euismod. Feugiat in fermentum posuere urna nec. Tempor nec feugiat nisl pretium. Libero nunc consequat interdum varius sit amet. Nulla pellentesque dignissim enim sit. Sit amet nulla facilisi morbi tempus iaculis urna. Mollis aliquam ut porttitor leo. Cursus metus aliquam eleifend mi in nulla. Faucibus scelerisque eleifend donec pretium vulputate.</p>
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp Vel turpis nunc eget lorem dolor sed viverra ipsum. Velit scelerisque in dictum non consectetur a. Mattis molestie a iaculis at erat. Scelerisque felis imperdiet proin fermentum leo vel orci porta. Id velit ut tortor pretium viverra. Ac turpis egestas integer eget aliquet nibh praesent tristique magna. Tortor dignissim convallis aenean et tortor at risus viverra adipiscing. In massa tempor nec feugiat nisl pretium fusce id velit. Eget nullam non nisi est sit amet facilisis magna. Etiam non quam lacus suspendisse faucibus. Turpis cursus in hac habitasse platea dictumst quisque. Dignissim suspendisse in est ante. Viverra maecenas accumsan lacus vel facilisis volutpat est velit egestas. Morbi leo urna molestie at. Diam sit amet nisl suscipit adipiscing bibendum est ultricies. Dictum sit amet justo donec enim diam vulputate.</p>
    <script>
      function redireccionarAPaginaPrincipal(){
        window.location.href="https://tp-4-flask-ejercicio-2.catalinavega6.repl.co/"
      }
    </script>
    <button onclick="redireccionarAPaginaPrincipal()">Volver</button>
  </body>
</html>