<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top 10 total</title>
  </head>
  <body>
    <header></header>
    <table border=2 valign=middle>
      <tr>
        <th>Pais</th>
        <th>Valor</th>
      </tr>
      {% for i in range (10) %}
      <tr>
        <td>{{topDiezTotal[i][0]}}</td>
        <td>{{topDiezTotal[i][1]}}</td>
      </tr>      
      {% endfor %}
    </table>
    <br>
    <script>
      function redireccionarAPaginaPrincipal(){
        window.location.href="https://tp-4-flask-ejercicio-2.catalinavega6.repl.co/"
      }
    </script>
    <button onclick="redireccionarAPaginaPrincipal()">Volver</button>
  </body>
</html>